/* 
FONTS USED: 

> Send Flowers
> Satisfy
> News Cycle
> Noto Sans

 */
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Send+Flowers&display=swap');

/* HTML & Body */
.page-wrapper {
    position: fixed;
    top: 0;
    left: 0;


    width: 100%;
    height: 100%;

    z-index: 1;

    transition: all 1s ease;
}

section,
.header,
footer {
    position: relative;
    z-index: 1;
}

/* Colors */
.bg-00C4D2 {
    color: #00C4D2
}

/* Header & Sidebar */
.header {
    z-index: 2;
    background-image: linear-gradient(to right, rgba(82, 72, 156, 1), rgba(56, 49, 106, 1));
}

.navbar-brand {
    font-size: 2rem !important;
    font-weight: 600;
}

/* Header Sidebar */
.header-sidebar {
    /* Style: */
    background-color: rgba(62, 54, 117, 1);
    font-family: Noto Sans, sans-serif;
    font-weight: 600;
    z-index: 5;

    /* Size */
    height: 100%;

    /* Position */
    position: absolute;
    right: 0;
    top: 0;

    /* Current State */
    width: 0;

    /* Animation: */
    transition: width 0.3s ease-out;
}

/* Icons */
.header-icons {
    width: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header-icons:hover {
    transform: scale(1.1);
}

.sidebar-icons {
    height: 25px;
    cursor: pointer;
}

.invert-icon {
    filter: invert(1) brightness(3);
}

/* Sidebar */
.header-sidebar li {
    transition: background-color linear;
}

.header-sidebar li:hover {
    background-color: #52489C;
}

.header-sidebar .active {
    background-color: #52489C;
}

.header-sidebar a {
    color: white !important;
}

/* Decorations */
.decoration {
    position: absolute;
}

/* Animations */
.is-open {
    width: 350px;
}

.transform-shadow-light {
    text-shadow: 0px 1px 1px white !important;
}

.transform-text-light {
    color: white !important;
}

.transform-bg-dark {
    background-color: rgba(0, 0, 0, 0.466);
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

/* Lines */
.vertical-line {
    content: '';
    position: absolute;
    width: 5px;
    height: 200px;

    background-color: #B5F2FF;
}

/* Main Content > Grid Layout */
main {
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: stretch;

    background-color: white;
}

section:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 1;
    grid-row-end: 2;

    background-image: url("../images/bio/image-2.jpg");
    background-size: cover;
    background-position: center;

}

section:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 6;
}

section:nth-child(3) img {
    width: 100%;
    object-fit: cover;
}

section:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 6;
}

@media screen and (max-width: 1200px) {
    main {
        width: 100%;
    }

    section:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    section:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    section:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 6;
    }
}

/* Intro */
#introQuote {
    position: relative;
    padding: 20px;
    background-color: #EFFFC2;
    font-style: italic;
    margin-bottom: 2rem;
}

#sunFlower1 {
    top: -15px;
    left: -15px;
    width: 50px;
}

#sunFlower2 {
    bottom: -15px;
    right: -15px;
    width: 50px;
    transform: rotate(180deg);
}

#introHeader h1 {
    font-size: 3em;
}

/* Anchors (a) */
.default-anchor {
    color: black;
}

/* Cards */
.default-card {
    max-width: 20rem;
}

.default-card-lg {
    max-width: 30rem;
}

.card {
    transition: transform 0.2s ease;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-img-top {
    height: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Heroes */

/* Footer */
footer {
    background-color: #3B30B4;
}

footer a {
    color: white !important;
    font-weight: 500;
}

footer .active {
    color: #ABA9DF !important;
}

.intro-wrapper {
    position: relative;
    transition: transform 0.6s ease-out;
    z-index: 2;
}

#introHeader,
#introHeader hr,
#introHeader div a {
    transition: all 0.6s ease-out;
}

#introductionHero {
    background-image: url("../images/backgrounds/hero-intro/image-1.jpeg");
    background-size: cover;
    background-position: center;

    position: relative;
    width: 100%;
    height: 450px;
    padding: 4rem;

    transition: all 0.6s ease-out;
}

#introBackgroundHelperOverlay_1,
#introBackgroundHelperOverlay_2 {
    opacity: 1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;

    transition: all 0.5s ease;
}

.intro-wrapper:has(#introductionHero:hover) {
    transform: translateY(-75px);
}

#introductionHero:hover {
    height: 600px;
    z-index: 1;
}